h1{text-align: center; font-family:Impact; color: Scarlet;}
body {background-color: rgb(173. 216, 230); font-family: sans-serif;}
.picture {
margin: auto;
display: block;
height: 450px;
width: 650px;
}
a:hover {
  color: red;
}
h3 {
  font-size: 20px;
}
      
