h1{text-align: center; font-family:Impact; color: Scarlet;}
body {background-color: rgb(182,165,173); font-family: sans-serif; color Red;
.picture {
margin: auto;
display: block;
height: 450px;
width: 650px;
}
a: hover {
  color:dark red;
}

